.listItem + .listItem {
  margin-top: 12px;
}

.service {
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 1rem;
  color: rgb(241, 241, 241);
 
}

.services{
    height: 700px;
    margin-bottom: 100px;
    /*background-color: rgb(28, 119, 119);*/
}


@media screen and (max-width: 420px) {
  .titleImage{
    height: 300px;
    width: auto;
  }
}

@media screen and (max-width: 640px) {
  .fullContainer{
      border-radius: 0px;
      padding: 0px;
      width: 100%;
  }

}

